<html>
    <head>
        <title>Blogging App</title>
        <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
        <link rel = "stylesheet" type = "text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel = "stylesheet" type = "text/css" href ="/stylesheets/app.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>

    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <i class="code icon"></i>
                    <a href ="/">BlogApp</a>
                </div>
                <a href="/" class="item">Home</a>
                <a class="item" href="/blogs/new">New</a>
            </div>
      </div>